# ====================
# Operating System Files
# ====================
.DS_Store
Thumbs.db

# ====================
# IDE Files
# ====================
.idea/
*.iml
*.ipr
*.iws

# ====================
# Build Files
# ====================
/build/
*.apk
*.ap_
*.aab

# ====================
# Gradle Files
# ====================
.gradle/
/out/
/*.war
/local.properties
/.cxx/
/captures/

# ====================
# Jetpack Compose Previews
# ====================
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml

# ====================
# Keystore Files
# ====================
*.keystore
*.jks

# ====================
# Log and Report Files
# ====================
*.log
lint-results.xml
lint-results.html
build-report.txt

# ====================
# Miscellaneous
# ====================
/node_modules/
dist/
*.class
*.py[cod]
*.jar
*.app
*.exe
*.tiff
*.mp4
*.avi
*.flv
*.mov
*.wmv
*.material
*.db

# ====================
# Unit Test Reports
# ====================
TEST*.xml

# ====================
# Firebase and Google Services
# ====================
google-services.json
*.orig
